<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive files and directories
    RewriteRule ^(\.env|\.git|composer\.(json|lock)|package\.(json|lock)|artisan|Dockerfile|docker-compose\.yml) - [F,L,NC]
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)(/|$) - [F,L,NC]

    # Forward request to public folder if not already requesting public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
